<div class="container">
	<form class="form">
		<div class="form-group">
			<label>Receiver</label>
			<input class="form-control" type="text" ng-model="$ctrl.mail.to">
		</div>
		<div class="form-group">
			<label>Subject</label>
			<input class="form-control" type="text" ng-model="$ctrl.mail.subject">
		</div>
		<div class="form-group">
			<label>Body</label>
			<textarea class="form-control" ng-model="$ctrl.mail.body"></textarea>
		</div>

		<button class="form-control btn btn-default" type="button" ng-click="$ctrl.sendmail()">Send
		</button>
	</form>

	<h2>mails</h2>
	<ul class="listgroup">
		<li ng-repeat="mail in $ctrl.mails">
			{{mail.created | date}} {{mail.to}} {{mail.subject}} {{mail.success}} {{mail.error}}
		</li>
	</ul>
</div>
