<div class="container">
	<form ng-submit="$ctrl.submit()">
		<div class="form-group">
	    	<label for="Name">Name</label>
	    	<input type="text" class="form-control" id="Name" placeholder="Name" ng-model="group.name">
		</div>
		<div class="form-group">
	    	<label for="Info">Info</label>
	    	<input type="text" class="form-control" id="Info" placeholder="Info" ng-model="group.info">
		</div>
		<div class="form-group">
			<label for="category">Product groep</label>
			<select ng-model="group.pricecategory" ng-options="category.name for category in pricecategories">
				<option value="">-</option>
			</select>
		</div>
	  	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>