#addProductList {
	max-height: 200px;
	overflow-y: scroll;
}

.qty {
	width: 70px;
}

.price {
	width: 70px;
}

.resolved {
    background-color: lightgreen;
}

.short {
    background-color: tomato;
}