<div class="container">
	<form>
		<h3>Info</h3>
		<p>
			<strong>Ordernummer:</strong> {{order.ordernumber}}</br>
			<strong>Eigenaar:</strong> {{order.owner.name}}</br>
			<strong>Telefoon:</strong> {{order.owner.phone}}</br>
			<strong>Mail:</strong> {{order.owner.email}}
		</p>
		<div class="form-group">
			<label for="Category">Vereniging *</label>
			<select id="Category" class="form-control" 
				ng-model="order.group" 
				ng-options="group as group.name for group in groups track by group._id">
				<option value="">Prive</option>
			</select>	
		</div>
		<div class="form-group">
			<label for="Naam">Naam evenement *</label>
			<input type="text" class="form-control" id="NaamEvenement" placeholder='Evenement' ng-model='order.name'>
		</div>
		<div class="form-group">
			<label>Start Evenement: </label>
			<a  ng-click="eventstartCollapsed = !eventstartCollapsed">{{order.eventstart | date:'EEE dd/MM/yy HH:mm'}}
				<i class="fa fa-pencil fa" aria-hidden="true"></i>
			</a>
			<div uib-collapse="eventstartCollapsed">
				<div class="well">
					<uib-datepicker ng-model="order.eventstart" datepicker-options="options" >
					</uib-datepicker>
					<uib-timepicker ng-model="order.eventstart" ng-change="$ctrl.changedTime()" show-meridian="ismeridian" >
					</uib-timepicker>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>Einde Evenement: </label>
			<a ng-click="eventstopCollapsed = !eventstopCollapsed">{{order.eventstop | date:'EEE dd/MM/yy HH:mm'}}
				<i class="fa fa-pencil fa" aria-hidden="true"></i>
			</a>
			<div uib-collapse="eventstopCollapsed">
				<div class="well">
					<uib-datepicker ng-model="order.eventstop" datepicker-options="options" >
					</uib-datepicker>
					<uib-timepicker ng-model="order.eventstop" show-meridian="ismeridian" >
					</uib-timepicker>
				</div>
			</div>
		</div>

		<div class="form-group">
				<label>Afhaal tijdstip: </label>
				<a ng-click="pickupCollapsed = !pickupCollapsed">{{order.pickupdate | date:'EEE dd/MM/yy HH:mm'}}
					<i class="fa fa-pencil fa" aria-hidden="true"></i>
				</a>
			<div uib-collapse="pickupCollapsed">
				<div class="well">
					<uib-datepicker ng-model="order.pickupdate" datepicker-options="pickupoptions"  >
					</uib-datepicker>
					<uib-timepicker ng-model="order.pickupdate" show-meridian="ismeridian" >
					</uib-timepicker>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>Retour moment: </label>
			<a ng-click="returnCollapsed = !returnCollapsed">{{order.returndate | date:'EEE dd/MM/yy HH:mm'}}
				<i class="fa fa-pencil fa" aria-hidden="true"></i>
			</a>
			<div uib-collapse="returnCollapsed">
				<div class="well">
					<uib-datepicker ng-model="order.returndate" datepicker-options="retouroptions"  >
					</uib-datepicker>
					<uib-timepicker ng-model="order.returndate" show-meridian="ismeridian" >
					</uib-timepicker>
				</div>
			</div>
		</div>

		<h3>Product lijst</h3>
		<form>
			<div class="form-group row">
				<div class="col-sm-2">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						
						<input type="text" class="form-control" placeholder="sku" ng-model="searchProduct2.product.code">
					</div>
				</div>
				<div class="col-sm-2">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						
						<input type="text" class="form-control" placeholder="naam" ng-model="searchProduct2.product.name">
					</div>      
				</div>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>
						<a href="#" ng-click="sortType = 'product.code'; sortReverse = !sortReverse">
							SKU
							<span ng-show="sortType == 'product.code' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'product.code' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>
						<a href="#" ng-click="sortType = 'product.name'; sortReverse = !sortReverse">
							Naam
							<span ng-show="sortType == 'product.name' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'product.name' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th>Totaal</th>
					<th>Beschikbaar</th>
					<th>Prijs (€)</th>
					<th>Aangevraagd</th>
					<th>Goedgekeurd</th>
					<th>Gekregen</th>
					<th>Terug</th>
					<th>Tekort</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="productitem in order.products | orderBy:sortType:sortReverse | filter:searchProduct2 ">
					
					<td>{{productitem.product.code}}</td>
					<td>{{productitem.product.name}}</td>
					<td>{{productitem.product.stock}}</td>
					<td>{{productitem.product.available}}</td>
					<td><input type="number" ng-model="productitem.unitprice" ng-disabled="order.state=='CANCELLED' || order.state == 'CLOSED'" ng-change="CalculateTotals()"></td>
					<td>{{productitem.ordered}}</td>
					<td>
						<input type="number" ng-model="productitem.approved" ng-disabled="order.state!='DRAFT' && order.state != 'ORDERED'">
					</td>
					<td>
						<input type="number" ng-model="productitem.received" ng-disabled="order.state!='APPROVED' && order.state != 'CANCELLED'">
					</td>
					<td>
						<input type="number" ng-model="productitem.returned" ng-disabled="order.state!='DELIVERED' && order.state != 'SHORTAGE'">
					</td>
					<td>
						{{productitem.received - productitem.returned}}
					</td>
				</tr>
				<tr ng-repeat-end ng-repeat="overlap in productitem.overlaps">
					<td>{{overlap.order.code}}</td>
					<td>{{overlap.order.name}}</td>
					<td>{{productitem.product.stock}}</td>
					<td>{{productitem.product.available}}</td>
					<td></td>
					<td>{{overlap.ordered}}</td>
					<td>{{overlap.approved}}</td>
					<td>{{overlap.received}}</td>
					<td>{{overlap.returned}}</td>
					<td></td>
				</tr>

			</tbody>
		</table>

		<button class="btn btn-default" ng-click="addProductCollapsed=!addProductCollapsed">+</button>
		<div uib-collapse="addProductCollapsed">
			<div class="row">
				<div class="input-group">
					<div class="col-sm-6">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						
						<input type="text" class="form-control" placeholder="naam" ng-model="AddProductSearch.name">
					</div>
					<select id="pricecategory" class="form-control col-sm-6" 
						ng-model="pricecategory" 
						ng-options="category as category.name for category in pricecategories track by category._id"
						ng-change="$ctrl.UpdatePriceCategory(pricecategory)">
						<option value="">Prive</option>
					</select>	
				</div>
			</div>
			<ul id="addProductList" class="list-group">	
				<li class="list-group-item row" ng-repeat="product in products | filter:AddProductSearch | orderBy: 'name' as filtered">
					<p class="col-sm-6">{{product.code}} {{product.name}} {{product.unitprice | currency: "€"}}</p><button class="btn btn-default col-sm-1" ng-click="$ctrl.Add(product)">Toevoegen</button>
				</li>
			</ul>
			<p ng-hide="filtered.length">Geen resultaten</p>
		</div>


		<div class="form-group">
			<label for="state">Status</label>
			<select class="form-control" id="state" ng-model="order.state">
				<option value="DRAFT">Concept</option>
				<option value="ORDERED">Aangevraagd</option>
				<option value="APPROVED">Goedgekeurd</option>
				<option value="DELIVERED">Uitgeleend</option>
				<option value="SHORTAGE">Te korten</option>
				<option value="CLOSED">Afgesloten</option>
				<option value="CANCELLED">Geannuleerd</option>
			</select>
		</div>

		<button class="btn btn-default" ng-click="$ctrl.save()">Opslaan</button>
		<button class="btn btn-danger" ng-click="$ctrl.remove()">Verwijderen</button>
	</form>
</div>
