<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<h2>Aanvragen</h2>
			<ul class="nav nav-stacked nav-pills">
				<li ng-repeat="tab in $ctrl.tabs" role="presentation" ng-class="{active: $ctrl.isTabVisible(tab)}">
					<a ng-click="$ctrl.selectTab(tab)">{{$ctrl.tabmap[tab].title}}
						<span ng-show="$ctrl.tabmap[tab].showLength" class="badge">{{$ctrl.tabmap[tab].length}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-9 col-md-10 content">
			<h3>{{$ctrl.tabTitle}}</h3>
			<div class="row" ng-show="$ctrl.isTabVisible('SEARCH')">
				<div class="col-md-12">
					<form id="info" class="form-horizontal">
						<div class="form-group">
							<label for="Naam" class="col-md-2">Naam evenement</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="NaamEvenement" placeholder='Evenement' ng-model='$ctrl.q.name'>
							</div>
						</div>
						<div class="form-group">
							<label for="owner" class="col-md-2">Eigenaar</label>
							<div class="col-md-4">
								<select ng-model="$ctrl.q.owner" class="form-control" ng-options="user as user.name for user in $ctrl.users |orderBy: 'name' track by user._id ">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="group" class="col-md-2">Vereniging</label>
							<div class="col-md-4">
								<select id="group" class="form-control" ng-model="$ctrl.q.group" ng-options="group as group.name for group in $ctrl.groups | orderBy: 'name' track by group._id">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="category" class="col-md-2">PrijsCategorie</label>
							<div class="col-md-4">
								<select id="category" class="form-control" ng-model="$ctrl.q.category" ng-options="category as category.name for category in $ctrl.pricecategories | orderBy: 'name' track by category._id">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="state" class="col-md-2">Status</label>
							<div class="col-md-4">
								<select id="state" class="form-control" ng-model="$ctrl.q.state" ng-options="state for state in $ctrl.orderService.STATES">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="Begin" class="col-md-2">Vanaf</label>
							<div class="col-md-4">
								<mk-datetime-picker value="$ctrl.q.begin" ondatechanged="$ctrl.qBeginChanged(date)" dateonly="true" enabled="true"></mk-datetime-picker>
							</div>
						</div>
						<div class="form-group">
							<label for="Begin" class="col-md-2">Tot</label>
							<div class="col-md-4">
								<mk-datetime-picker value="$ctrl.q.end" ondatechanged="$ctrl.qEndChanged(date)" dateonly="true" enabled="true"></mk-datetime-picker>
							</div>
						</div>
						<div class="form-group">
							<label for="products" class="col-md-2">Bevat</label>
							<div class="col-md-4">
								<select id="products" class="form-control" ng-model="$ctrl.q.product" ng-options="product as product.name for product in $ctrl.products | orderBy: 'name' track by product._id">
								</select>
							</div>
						</div>
						<button class="btn btn-info btn-small" ng-click="$ctrl.q = {}">Reset</button>
						<p>{{$ctrl.q |json}}</p>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<admin-orders orders="$ctrl.orders" search="$ctrl.tabFilter"></admin-orders>
				</div>
			</div>
		</div>
	</div>
</div>