<div class="container">
	<div class="alert alert-danger" ng-show="$ctrl.errmsg !=''">
		{{$ctrl.errmsg}}
	</div>
	<button class="btn btn-default" ng-click="$ctrl.newOrder()">Nieuwe aanvraag</button>
	<br>
	<h3>Mijn aanvragen</h3>
	<order-list 
		ng-show="$ctrl.userorders.length" 
		list="$ctrl.userorders" 
		list-options="$ctrl.listOptions" 
		click-event="$ctrl.openOrder(item)" 
		deletable=$ctrl.canBeDeleted(item) 
		delete-item=$ctrl.deleteOrder(item)>
	</order-list>

	<div ng-hide="$ctrl.userorders.length">
		U hebt geen persoonlijke aanvragen.
	</div>

	<div ng-repeat="group in $ctrl.groups | orderBy:'name'">
		<h3>{{group.name}}</h3>

		<div ng-hide="group.orders.length">
			Geen aanvragen beschikbaar voor deze groep
		</div>
		<order-list 
			ng-show="$ctrl.userorders.length" 
			list="group.orders" 
			list-options="$ctrl.listOptions" 
			click-event="$ctrl.openOrder(item)" 
			deletable=$ctrl.canBeDeleted(item) 
			delete-item=$ctrl.deleteOrder(item)>
		</order-list>
	</div>
</div>