<div class="container">
	<div id="shop" ng-hide="!$ctrl.orderService.orderIsDraft($ctrl.order)">

		<div class="form-group">
			<label for="searchfield">Filter</label>
			<input type="text" ng-model="searchfield.name">
		</div>
		<div class="form-group">
			<label for="category">Product groep</label>
			<select ng-model="$ctrl.categoryFilter" ng-options="category.name for category in $ctrl.productcategories |orderBy:'name'">
			</select>
		</div>
		<div id="productlijst">
			<table class="table">
				<thead>
					<tr>
						<th>
							Product
						</th>
						<th>
							Prijs
						</th>
						<th>
							Beschikbaar
						</th>
						<th>
							Aangevraagd
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in $ctrl.products | orderBy:'name' | filter:searchfield | filter:$ctrl.matchByGroup($ctrl.categoryFilter)"	>
						<td><strong>{{product.name}}</strong></td>
						<td>{{product.unitprice | currency:'€'}}</td>
						<td>{{product.stock - product.ordered}}</td>
						<td><input class="qty" type="number" ng-model="product.ordered" 
							id="ordered" max="{{product.stock}}" 
							min="0" ng-disabled="!$ctrl.orderService.orderIsDraft($ctrl.order)" 
							ng-change="$ctrl.updateOrder(product)"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<br>
	<h2>Mijn aanvraag</h2>
	<div id="shoppingcart">
		<table class="table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Aangevraagd</th>
					<th>Goedgekeurd</th>
					<th>Gekregen</th>
					<th>Terug</th>
					<th>Tekort</th>
					<th>Prijs</th>
					<th>Totaal</th>
					<th>Commentaar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in $ctrl.order.products | orderBy:'name'">
					<td>{{product.product.name}}</td>
					<td>
						<input class="qty" type="number" ng-model="product.ordered" id="ordered" max="{{product.stock}}" min="0" 
						ng-disabled="!$ctrl.orderService.orderIsDraft($ctrl.order)">
						<a ng-hide="!$ctrl.orderService.orderIsDraft($ctrl.order)"><i class="fa fa-times" aria-hidden="true" ng-click="$ctrl.clear($index)"></i></a>
					</td>
					<td>{{product.approved}}</td>
					<td>{{product.received}}</td>
					<td>{{product.returned}}</td>
					<td>
						{{product.received - product.returned}}
					</td>
					<td>{{product.unitprice | currency:'€'}}</td>
					<td>{{product.unitprice * product.received | currency:'€' }}	</td>
					<th>{{product.comment}}</th>
				</tr>
			</tbody>
		</table>

		<h4 ng-show="$ctrl.order.state=='DRAFT' || $ctrl.order.state=='ORDERED'">Totaal: {{ $ctrl.order.products | totalSumPriceQty:'ordered':'unitprice' | currency:'€' }}</h4>
		<h4 ng-show="$ctrl.order.state=='APPROVED'">Totaal: {{ $ctrl.order.products | totalSumPriceQty:'approved':'unitprice' | currency:'€' }}</h4>
		<h4 ng-show="$ctrl.order.state!='DRAFT' && $ctrl.order.state!='ORDERED' && $ctrl.order.state!='APPROVED'">Totaal: {{ $ctrl.order.products | totalSumPriceQty:'received':'unitprice' | currency:'€' }}</h4>
		<h4 ng-show="$ctrl.order.state != DRAFT">Reeds betaald: {{order.totalpaid | currency:'€'}}
	</div>

	<br>
	<br>
	<div id="comments">
		<h2>Berichten</h2>

		<div class="panel panel-default" ng-repeat="comment in $ctrl.order.comments">
			<div class="panel-heading">
				<h3 class="panel-title">{{comment.creator.name}} | {{comment.date | date:'medium':'+01:00'}}</h3>
			</div>
			<div class="panel-body">
				{{comment.body}}
			</div>
		</div>	
	</div>
	<h3>Nieuw bericht</h3>
	<textarea class="form-control" ng-model="$ctrl.comment_body" class="col-sm-12"  rows="3"></textarea>
	<button type="button" class="btn btn-default"  ng-click="$ctrl.orderService.addCommentToOrder($ctrl.order, $ctrl.comment_body)">Add comment</button>
	<br>
	<div id="shortages" ng-show="$ctrl.orderService.orderIsEvaluated($ctrl.order)">
		<h2>Tekorten</h2>
		<table class="table">
			<thead>
				<th>Product</th>
				<th>Tekort</th>
				<th>Ok</th>
				<th>Commentaar</th>

			</thead>
			<tbody>
				<tr ng-repeat="shortage in $ctrl.order.shortages" ng-class="{resolved: shortage.qty_short <= shortage.qty_ok, short: shortage.qty_short > shortage.qty_ok}">
					<td>{{shortage.product.name}}</td>
					<td>{{shortage.qty_short}}</td>
					<td><input type="number" ng-model="shortage.qty_ok" ng-disabled="$ctrl.orderService.orderIsClosed($ctrl.order)"></td>
					<td>
						<input type="text" ng-model="shortage.comment" ng-disabled="$ctrl.orderService.orderIsClosed($ctrl.order)">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button class="btn btn-default" ng-click="$ctrl.save()" ng-disabled="!$ctrl.orderService.orderIsDraft($ctrl.order)">Bewaren</button>
	<button class="btn btn-default" ng-click="$ctrl.saveAndRequest()" ng-disabled="!$ctrl.orderService.orderIsDraft($ctrl.order)">Aanvragen</button>
</div>
