#productlijst {
	max-height: 70vh;
	overflow-y: scroll;
}

.qty {
	min-width: 70px;
}

dl.info dt {
	text-align: left;
	width: 160px;
}

dl.info  > dd {
	margin-left: 120px;
}

#productlijst .selected-product {
	background-color: antiquewhite;
}