<div class="container">
	<div class="alert alert-danger" ng-show="errmsg !=''">
		{{errmsg}}
	</div>
	<ul class="list-group user-list">
		<h3>Users</h3>
		<li class="list-group-item " ng-class="{'list-group-item-danger': user.requested_groups && user.requested_groups.length > 0}" ng-repeat="user in usersCtrl.users">
			<div class="user-info">
		        <strong>{{user.name}}</strong>   <span class="badge" ng-show="user.requested_groups && user.requested_groups.length > 0">Attention</span><br>
		        <span class="text-muted">{{user.email}}</span>
		        [[{{user.requested_groups}}]]
		    </div>

      		<a ng-href="/admin/user/{{user._id}}" class="edit"><span class="fa fa-pencil fa-2x"></span></a>
      		<a ng-click="usersCtrl.delete_user(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
		</li>
	</ul>
	<button class="btn btn-default" ng-click="usersCtrl.new_user()">Add user</button>

	<h3>Groups</h3>
	<ul class="list-group user-list">
		<li class="list-group-item" ng-repeat="group in usersCtrl.groups">
			<div class="user-info">
		        <strong>{{group.name}}</strong><br>
		        <span class="text-muted">{{group.info}}</span>
		    </div>

      		<a ng-href="/admin/group/{{group._id}}" class="edit"><span class="fa fa-pencil fa-2x"></span></a>
      		<a ng-click="usersCtrl.delete_group(group)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
		</li>
	</ul>
	<button class="btn btn-primary" ng-click="usersCtrl.new_group()">Add group</button>
</div>

