<div class="container">
	<form ng-submit="$ctrl.submit()">
		<div class="form-group">
			<label for="name">Naam</label>
			<input type="text" class="form-control" id="name" placeholder="bv Keukenmateriaal" ng-model="$ctrl.category.name">
		</div>
		<button type="submit" class="btn btn-default">Opslaan</button>
	</form>

	<h2>Producten</h2>
	<ul class="list-group" id="productlist" ng-show="$ctrl.products.length">
		<li class="list-group-item" ng-repeat="product in $ctrl.products | orderBy: 'name'">
			<div class="row">
				<div class="col-sm-11">
					<strong>{{product.name}}</strong><br>
			    </div>
			</div>
		</li>
	</ul>
	<p ng-hide="$ctrl.products.length">Geen producten geselecteerd in deze groep.</p>
</div>
