<div class="container">
	<div class="alert alert-danger" ng-show="$ctrl.errmsg !=''">
		{{$ctrl.errmsg}}
	</div>
	<div class="alert alert-success" ng-show="$ctrl.success !=''">
		{{$ctrl.success}}
	</div>
	<div id="requestTokenDiv" ng-hide="$ctrl.token">
		<div class="form-group">
			<label for="email">Email</label>
			<input class="form-control" type="text" name="email" ng-model="$ctrl.email">
		</div>
		<button class="btn btn-default" ng-disabled="!$ctrl.email || $ctrl.submitted" ng-click="$ctrl.requestToken()">Token aanvragen</button>
	</div>
	<div id="resetPasswordId" ng-hide="!$ctrl.token">
		<form name="pwform" ng-submit="$ctrl.setPassword()">
			<div class="form-group">
				<label for="password">Nieuw</label>
				<input class="form-control" type="password" name="password" ng-model="$ctrl.password" ng-minlength="3" required>
				<p class="help-block" ng-show="(pwform.password.$error.minlength || pwform.password.$error.required) && (pwform.password.$dirty)">
		            Wachtwoord moet minimum 3 tekens lang zijn 
				</p>
			</div>
			<div class="form-group">
				<label for="confirm_password">Nieuw wachtwoord</label>
				<input class="form-control" type="password" name="confirm_password" ng-model="$ctrl.confirm_password" match="$ctrl.password" ng-minlength="3" required>
				<p class="help-block" ng-show="pwform.confirm_password.$error.match && !pwform.confirm_password.$untouched">
					Niet gelijk
				</p>
			</div>
			<button class="btn btn-default" ng-disabled="!pwform.$valid || $ctrl.submitted">Wachtwoord instellen</button>
		</form>
	</div>
</div>