<div class="container">
	<form class="form-horizontal" name="info">
		<!-- test form -->
		<div class="form-group">
			<label for="category" class="col-md-2">Vereniging *</label>
			<div class="col-md-4">
				<select id="Category" class="form-control" ng-model="request.group" ng-options="group as group.name for group in user.groups | orderBy: 'name' track by group._id"
				 ng-disabled="!isDraft">
					<option value="">Prive</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="Naam" class="col-md-2">Naam evenement *</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="NaamEvenement" placeholder='Evenement' ng-model='request.name' ng-disabled="!isDraft"
				 required="true">
			</div>
		</div>
		<!-- Start evenement -->
		<div class="form-group">
			<label class="col-md-2">Start evenement: </label>
			<div class="col-md-4">
				<mk-datetime-picker value="request.eventstart" dayClassFct="$ctrl.getDayClass(date, mode)" datePickerOptions="$ctrl.eventstartoptions" enabled="isDraft" ondatechanged="$ctrl.eventStartChanged(date)"></mk-datetime-picker>
			</div>
		</div>
		<!-- Einde evenement -->
		<div class="form-group">
			<label class="col-md-2">Einde evenement: </label>
			<div class="col-md-4">
				<mk-datetime-picker value="request.eventstop" dayClassFct="$ctrl.getDayClass(date, mode)" datePickeroptions="$ctrl.eventstopoptions" enabled="isDraft" ondatechanged="$ctrl.eventStopChanged(date)"></mk-datetime-picker>
			</div>
		</div>
		<!-- Afhalen -->
		<div class="form-group">
			<label class="col-md-2">Afhaal tijdstip: </label>
			<div class="col-md-4">
				<mk-datetime-picker value="request.pickupdate" dayClassFct="$ctrl.getDayClass(date, mode)" datePickeroptions="$ctrl.pickupoptions" 
					enabled="isDraft && $ctrl.isEventDefined()" 
					disabledatesfct="$ctrl.closedDates(date, mode)"
					ondatechanged="$ctrl.changePickupDate(date)" fixedtime="true"></mk-datetime-picker>
			</div>
		</div>
		<!-- Terug brengen -->
		<div class="form-group">
			<label class="col-md-2">Retour tijdstip: </label>
			<div class="col-md-4">
				<mk-datetime-picker value="request.returndate" fixedTime="true" dayclassfct="$ctrl.getDayClass(date, mode)" datepickeroptions="$ctrl.retouroptions" 
					enabled="isDraft && $ctrl.isEventDefined()" 
					disabledatesfct="$ctrl.closedDates(date, mode)" ondatechanged="$ctrl.changeReturnDate(date)"></mk-datetime-picker>
			</div>
		</div>
		<button class="btn btn-primary btn" ng-click="$ctrl.submit()" ng-disabled="!isDraft || !info.$valid" type="button" >Opslaan</button>
		<button class="btn btn-success" ng-click="$ctrl.submit(true)" ng-disabled="!info.$valid && isDraft" type="button" >Naar materiaallijst</button>
	</form>
</div>