<div class="container">
	<form ng-submit="$ctrl.submit()">
		<div class="form-group">
	    	<label for="Name">Naam</label>
	    	<input type="text" class="form-control" id="Name" placeholder="Naam" ng-model="user.name">
		</div>
		<div class="form-group">
			<label for="Email">Email adres</label>
			<input type="email" class="form-control" id="Email" placeholder="Email" ng-model="user.email">
		</div>
		<div class="form-group">
			<label for="Phone">Telefoon</label>
			<input type="phone" class="form-control" id="phone" placeholder="Telefoon" ng-model="user.phone">
		</div>
		<div class="checkbox">
			<label>
		  		<input type="checkbox" ng-model="$ctrl.isAdmin" ng-change="$ctrl.changerole()">is admin
			</label>
		</div>
	  	
		<h3>Groepen</h3>
		<label>filter</label>
		<input type="text" ng-model="search.name">	
		<ul class="list-group user-list">
			<li class="list-group-item" ng-repeat="group in $ctrl.groups | filter:search | orderBy:'name'">
				<!-- <div class="checkbox"> -->
					<label>
						<input type="checkbox" ng-model="group.checked" ng-change="$ctrl.change(group)">
		        		<strong>{{group.name}}</strong>
		        	</label>
			</li>
		</ul>

		<h3>Aangevraagd</h3>
		<ul class="list-group user-list">
			<li class="list-group-item" ng-repeat="group in user.requested_groups | orderBy:'name'">
				<div class="user-info">
			        <strong>{{group.name}}</strong><br>
			        <span class="text-muted">{{group.info}}</span>
			    </div>
				<button type="button" class="btn btn-default" ng-click="$ctrl.approve(group)">Toestaan</button>
			</li>
		</ul>
		<div ng-hide="user.requested_groups.length">
			Er zijn geen groepen in aanvraag.
		</div>

		<br>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	</form>

</div>
