<div class="container">

	id: {{userid}}

	<form>
		<div class="form-group">
	    	<label for="Name">Name</label>
	    	<input type="text" class="form-control" id="Name" placeholder="Name" ng-model="user.name">
		</div>
		<div class="form-group">
			<label for="Email">Email address</label>
			<input type="email" class="form-control" id="Email" placeholder="Email" ng-model="user.email">
		</div>
		<div class="checkbox">
			<label>
		  		<input type="checkbox" ng-model="user.isAdmin" ng-change="$ctrl.changerole()">is admin
			</label>
		</div>
	  	<button type="submit" class="btn btn-default">Submit</button>
	</form>


	<ul>
		<li>is admin</li>
		<li>add to group</li>
		<li>remove from group</li>
	</ul>

</div>
