<div class="container">
	<div class="alert alert-danger" ng-show="$ctrl.errmsg !=''">
		{{$ctrl.errmsg}}
	</div>
	<form ng-submit="$ctrl.submit()">
		<div class="form-group">
			<label for="name">Titel</label>
			<input type="text" id="name" ng-model="$ctrl.product.name" class="form-control">
		</div>
		<div class="form-group">
			<label for="info">Omschrijving</label>
			<textarea id="info" ng-model="$ctrl.product.info" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="active">
				<input type="checkbox" id="active" ng-model="$ctrl.product.active"> Actief
			</label>
		</div>
		<div class="form-group">
			<label for="code">Code</label>
			<input id="code" ng-model="$ctrl.product.code" class="form-control"></input>
		</div>
		<div class="form-group">
			<label for="consumable">
				<input type="checkbox" id="consumable" ng-model="$ctrl.product.isconsumable"> Verbruiksgoed
			</label>
		</div>
		<div class="form-group" ng-show="$ctrl.product._id">
			<label for="stock">Stock</label>
			{{$ctrl.product.stock}} stuks
			<br> aangepast op {{$ctrl.product.stock_date | date}} door {{$ctrl.product.stock_modifier.name}}. Reden: {{$ctrl.product.stock_mod_reason}}

			<br> Nieuw aantal:
			<input type="number" id="stock" ng-model="$ctrl.newStock" class="form-control"> Reden:
			<input type="text" ng-model="$ctrl.stock_mod_reason">
			<button class="btn btn-default" type="button" ng-click="$ctrl.updateStock($ctrl.newStock, $ctrl.stock_mod_reason);">Update stock</button>

		</div>
		<h3>Product groep</h3>
		<mk-table items="$ctrl.product.productfamily" itemcolumns="$ctrl.productFamilyColumns" showremove="true" onremove="$ctrl.onRemoveProductFamily(item)" showadd="true"
		 additems="$ctrl.productcategories" additemdisplayfield="'name'" onadd="$ctrl.onAddProductFamily(item)"></mk-table>

		<h3>Zichtbaar voor</h3>
		<p>Indien geen groep geselecteerd, dan is het product beschikbaar voor alle groepen.</p>
		<mk-table items="$ctrl.product.visiblegroups" itemcolumns="$ctrl.visibleGroupsColumns" showremove="true" onremove="$ctrl.onRemoveVisibleGroup(item)" showadd="true"
		 additems="$ctrl.groups" additemdisplayfield="'name'" onadd="$ctrl.onAddVisibleGroup(item)"></mk-table>
		<h3>Prijzen</h3>
		<table>
			<tr>
				<td>Standaard</td>
				<td>
					<input type="number" step="any" id="standaard" ng-model="$ctrl.product.defaultprice">
				</td>
			</tr>
			<tr ng-repeat="pricecategory in $ctrl.pricecategories">
				<td>{{pricecategory.name}}</td>
				<td>
					<input type="number" step="any" id="standaard" ng-model="pricecategory.price" ng-disabled="!pricecategory.hasprice">
				</td>
				<td>
					<input type="checkbox" id="{{pricecategory._id}}" ng-model="pricecategory.hasprice" ng-change="$ctrl.todefaultprice(pricecategory)">
				</td>
				<td>custom</td>
			</tr>
			<tr>
				<td>Verlies of kapot</td>
				<td>
					<input type="number" step="any" id="replacement" ng-model="$ctrl.product.replacementprice">
				</td>
			</tr>
		</table>
		<button class="btn btn-default" type="submit">Opslaan</button>
	</form>
	<div class="row">
		<div class="col-md-12">
			<h2>Aangevraagd in</h2>
			<admin-orders orders="$ctrl.product.orders"></admin-orders>
		</div>
	</div>
</div>